@model WebNote.Models.Compromisso

@{
    ViewData["Title"] = "Detalhes";
}

<h2 class="jumbotron">Detalhes do compromisso</h2>
<hr />

<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Data)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioInicio)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioInicio)
            <hr />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HorarioFim)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HorarioFim)
            <hr />
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-default" asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index" class="btn btn-default">Voltar</a>
</div>
