@model IEnumerable<WebNote.Models.Usuario>

@{
    ViewData["Title"] = "Usuários";
}


<h2 class="jumbotron">Usuários cadastrados</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Senha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Senha)
            </td>
            <td>
                <a class="fas fa-edit fa-lg text-info" asp-action="Edit" asp-route-id="@item.Id"></a> |
                <a class="fas fa-info-circle fa-lg text-warning" asp-action="Details" asp-route-id="@item.Id"></a> |
                <a class="fas fa-trash-alt fa-lg text-danger" asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Create" class="btn btn-default">Criar novo Cadastro</a>

</div>
