@model IEnumerable<WebNote.Models.Atividade>

@{
    ViewData["Title"] = "Atividades";
}

<h2 class="jumbotron">Lista de atividades</h2>
<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Data)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Horario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Data)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Horario)
            </td>
            <td>
                <a class="fas fa-edit fa-lg text-info" asp-action="Edit" asp-route-id="@item.Id"></a> |
                <a class="fas fa-info-circle fa-lg text-warning" asp-action="Details" asp-route-id="@item.Id"></a> |
                <a class="fas fa-trash-alt fa-lg text-danger" asp-action="Delete" asp-route-id="@item.Id"></a>
            </td>
        </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Create" class="btn btn-default">Criar nova atividade</a>
</div>